In [3]:
import pandas as pd
import os
# import re
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [17]:
os.getcwd()
%cd data_set
%ls -al

'/home/sjham/project/NLP_test'

/home/sjham/project/NLP_test/data_set
total 34112
drwxr-xr-x 3 sjham sjham     4096 Jan 25 10:31 ./
drwxr-xr-x 5 sjham sjham     4096 Jan 25 10:35 ../
-rw-r--r-- 1 sjham sjham 34327055 Jan 22 18:56 crawled_data.csv
drwxr-xr-x 2 sjham sjham     4096 Jan 25 10:30 .ipynb_checkpoints/
-rw-rw-r-- 1 sjham sjham   584878 Jan 21 17:29 manual_data.xlsx

## Data prepocessing by ham_2019_1

In [19]:
manual_data = pd.read_excel('manual_data.xlsx') 
crawled_data = pd.read_csv('crawled_data.csv')

In [20]:
data.tail()
raw_data.head()

,기사 ID,프로그램,날짜,기사수,순서,길이,제목,성격,형식,사운드바이트,...,가이드14_타언론사비판,가이드15_비과학설명,가이드16_영상_화면,가이드17_영상_웃는,가이드18_영상_지지자,가이드19_영상_클로즈업,가이드20_영상_로우앵글,가이드21_여론조사_절차,가이드22_여론조사_항목,가이드23_여론조사_표본오차
2451,2452,7,2016-04-12 00:00:00,29.0,11,107,투표날 '조심',1,1,0.0,...,2,2.0,2.0,2.0,2.0,2.0,2.0,3,3.0,3.0
2452,2453,7,2016-04-12 00:00:00,29.0,12,19,새로운 국회 탄생해야,1,1,0.0,...,2,2.0,2.0,2.0,2.0,2.0,2.0,3,3.0,3.0
2453,2454,7,2016-04-12 00:00:00,29.0,13,86,MBN선정 승패 가를 20곳…서울,1,1,0.0,...,2,2.0,2.0,2.0,2.0,2.0,2.0,1,2.0,2.0
2454,2455,7,2016-04-12 00:00:00,29.0,14,94,MBN선정 승패 가를 20곳…수도권,1,1,0.0,...,2,2.0,2.0,2.0,2.0,2.0,2.0,1,2.0,2.0
2455,2456,7,2016-04-12 00:00:00,29.0,15,107,MBN선정 승패 가를 20곳,1,1,0.0,...,2,2.0,2.0,2.0,2.0,2.0,2.0,1,2.0,2.0

,title,source,date,tomain,reaction,articleText
0,차량에 불…50대 운전자 숨져,KBS,2016.03.02 17:57,NaN,NaN,"오늘 오후 3시쯤, 강원도 평창군 대화면에서 50살 안 모 씨가 몰던 승..."
1,두고 내린 스마트폰 팔아넘긴 택시기사 등 검거,KBS,2016.03.02 17:59,NaN,NaN,대전 동부경찰서는 손님이 택시에 놓고 내린 스마트폰을 사들인 혐의로 장물...
2,"안철수·천정배 대표, 박지원 의원 찾아가 회동 중",KBS,2016.03.02 18:11,NaN,NaN,"국민의당 안철수, 천정배 대표가 무소속 박지원 의원을 만나 국민의당 입..."
3,"이재현 회장, (주)CJ…CJ제일제당 등기이사 사퇴",KBS,2016.03.02 18:11,NaN,NaN,이재현 CJ그룹 회장이 CJ주식회사와 CJ제일제당의 등기 이사직에서 사퇴합...
4,"한수원, UAE 원전 1호기 인력파견계약 체결",KBS,2016.03.02 18:13,NaN,NaN,한국수력원자력은 아랍에미리트에 건설 중인 한국형 원전 4기 가운데 내년 5...

In [ ]:
raw_data['date'] = pd.to_datetime(raw_data['date'])

In [ ]:
raw_data['date'] = raw_data['date'].dt.date

In [ ]:
raw_data['date']

In [ ]:
data['date'] = '2016.' + data['date'].astype(str)
data['date']

In [ ]:
data['date'] = data['date'].str.replace('/', '.').str.replace('-', '.')

In [ ]:
data['date']= pd.to_datetime(data['date'])

In [ ]:
data.head()
raw_data.head()

In [ ]:
data['title_refined'] = data.title.str.replace(r'[/W\”\“\‘\,\’\"\'\.\∙\…\[\]\(\)]+', " ")
raw_data['title_refined']= raw_data.title.str.replace(r'[/W\”\“\‘\,\’\"\'\.\∙\…\[\]\(\)]+', " ")

In [ ]:
data['title_refined'] = data['title_refined'].str.strip()
raw_data['title_refined'] = raw_data['title_refined'].str.strip()

In [ ]:
data.isnull().sum()
raw_data.isnull().sum()

In [ ]:
data.head()

In [ ]:
data.drop('title',axis=1, inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
data = data.dropna(subset=['title_refined'],axis=0, how='any')

In [ ]:
data.isnull().sum()

In [ ]:
# def ngrams(string, n=3):
# #     string = re.sub(r'[,-./]|\sBD',r'', string)
#     ngrams = zip(*[string[i:] for i in range(n)])
#     return [''.join(ngram) for ngram in ngrams]

In [ ]:
from konlpy.tag import Mecab
mecab = Mecab()
def tagging(x):
    return mecab.nouns(x)
#     return x+'1'

In [ ]:
data['title_tagged'] = data['title_refined'].apply(tagging)

In [ ]:
data['title_set']= [set(item) for item in data['title_tagged']]

In [ ]:
raw_data.drop('title', axis=1, inplace=True)

In [ ]:
raw_data['title_tagged'] = raw_data['title_refined'].apply(tagging)

In [ ]:
raw_data['title_set']= [set(item) for item in raw_data['title_tagged']]

In [ ]:
raw_data['title_set']

In [ ]:
data['title_set']

In [ ]:
data.head()

In [ ]:
data.title_tagged

In [ ]:
raw_data.title_tagged

In [ ]:
for d in data1['title_tagged']:
    for r in raw_data1['title_tagged']:
        set(d).intersection(set(r))
        
# for u in t:
#     if len(u) > 1:
#         raw_data1['filtered']= u
        
    
        
#         a = set(d).intersection(set(r))
        
                            
#         if len(set(d).intersection(set(r)))> 1:
#             raw_data1['filtered']=

In [ ]:
raw_data['title_tagged'].apply(inter)

In [ ]:
for d in data1['title_tagged']:
    for r in raw_data1['title_tagged']:
        if len(set(d).intersection(set(r)))> 1:
            raw_data1['filtered'] = r
            
    
#         raw_data['filtered'] = set(data).intersection(set(data1))

#         #             raw_data['filtered'] = data
        
        
        
        
#         if len(data.intersection(data1)) > 3:
#             raw_data['filtered'] = data
            
#             .intersection(data1)
        
#         if len() > 3:
#             raw_data['filtered'] = data

In [ ]:
raw_data1.head()

In [ ]:
a = set(['위반', '차량', '암행', '단속', '시작'])
b = set(['무제한', '위반', '토론', '끝', '테러', '방지법', '등', '처리'])
matched = a.intersection(b)
print(matched)

In [ ]:
data.head()

In [ ]:
raw_data.head()

In [ ]:
data['제목_splited'] = [set(str(i).split()) for i in data.제목_refined]
raw_data['title_splited'] = [set(str(i).split()) for i in raw_data.title_refined]

In [ ]:
matched = set1.intersection(set2)

import numpy as np
import pandas as pd

a = [['10', '1.2', '4.2'], ['15', '70', '0.03'], ['8', '5', '0']]
df = pd.DataFrame(a, columns=['one', 'two', 'three'])

df['compare'] = np.where((data['date'] == raw_data['date']) & (data['date'] <= df['three'])
                     , df['one'], np.nan)

In [ ]:
from difflib import SequenceMatcher
SequenceMatcher(None, raw_data.title_tagged, data.title_tagged)

In [ ]:
from difflib import SequenceMatcher
def similar(a, b):
    t=[]
    threshold = 0.4
    if SequenceMatcher(None, a, b).ratio() > threshold:
        t.append(a)
    print(t)
    return t
        
#     print(s)
#     return s

In [ ]:
for rd in raw_data.title_tagged:
    for d in data.title_tagged:
        similar(rd, d)

In [ ]:
c =[['무제한', '토론', '끝', '테러', '방지법', '등', '처리'],
 ['야권', '통합', '국민', '당', '경계', '與', '비판'],
 ['박지원', '동교동', '국민', '당', '합류'],
 ['선거법', '지각', '통과', '총선', '준비', '잰걸음'],
 ['與', '공천', '일정', '신경전'],
 ['야권', '통합', '金', '安', '정면충돌'],
 ['친', '박', '김태환', '탈락', '물갈이', '신호탄'],
 ['야권', '통합', '의총', '국민', '당', '기로'],
 ['이해관계', '통합', '찬반'],
 ['야권', '통합', '거부', '총선', '구도', '일', '다야']]

In [ ]:
o =[['무제한', '토론', '끝', '테러', '방지법', '등', '처리'],
 ['야권', '당', '경계', '與', '비판'],
 ['박지원', '동교동', '국민', '당']]
# q = pd.Series(o)

In [ ]:
data['제목_mecab'] = pd.Series(y)

In [ ]:
for n in data.제목_refined:


data['data_mecab'] = [mecab.nouns(n) for n in data.제목_refined]

In [ ]:
data['data_mecab_split'] = data['data_mecab'].str.split()

In [ ]:
# data['제목_splited'] = [set(str(i).split()) for i in data.제목_refined]
# raw_data['title_splited'] = [set(str(i).split()) for i in raw_data.title_refined]

data['제목_splited'] = [str(i).split() for i in data.제목_refined]
raw_data['title_splited'] = [str(i).split() for i in raw_data.title_refined]

In [ ]:
data_100 = data['제목_splited'][:100] 
raw_data_100 = raw_data['title_splited'][:100]

In [ ]:
a = [['시간', '유세', '돌입', '군소정당', '총력전'], ['총선', '이틀', '앞', '5대', '관전', '포인트는?'], 
     ['반드시', '투표', '비', '예보', '변수'], ['與', '과반', '확보', '절실', '투표로', '야당', '심판','컷오프', '내일 발표'],
     ['윤상현 막말', '파문…','컷오프', '내일 발표']]


# raw_data['title_splited'] = [','.join(str(i).split()) for i in raw_data.title_refined]
# raw_data['title_fil'] = [set(str(i).split()) for i in raw_data.title]

# [더민주, 여당, 독주, 저지, 수권, 야당, 지지], [국민의당, 미래, 위한, 싸움, 3번, 선택], 
#      [우리가, 대안, 정당, 존재감, 부각, 총력], [내일, 선택의, 날, 투, 개표, 준비, 완료],
#  [투표용지, 손동작, 안, 돼, 인증샷, 주의점], [오후, 6시, 출구조사, 당선, 예상자, 발표]]
b = [['시간', '유세', '돌입', '군소정당', '총력전'],['與', '과반', '확보', '절실'], ['심판','컷오프', '내일 발표'],
     ['yyyyyyyy','ttttt','wswwewe'],['dwddwdfwfw','gfhfghhth','hytyyhtyhytyh']]

    
    
#     [더민주, 여당, 독주, 저지, 수권, 야당, 지지], [국민의당, 미래, 위한, 싸움, 3번, 선택], 
#      [우리가, 대안, 정당, 존재감, 부각, 총력],

In [ ]:
data['날짜_in'] = data['날짜'].astype('str').str.replace('-', '')
# df.to_csv(r'c:\data\pandas.txt', header=None, index=None, sep=' ', mode='a')
# with open('dates_kbs.txt', 'w') as f:
#     f.write(data['날짜_in'].astype(int).values)

# data['날짜_in'].astype(int).values

In [ ]:
# import numpy as np
# nparray = data['날짜_in'].values
# np.savetxt('dates_kbs.txt', nparray, delimiter=",")
# nparray

In [ ]:
data.날짜_in.to_csv('dates_kbs.csv', header=None, index=None, sep=',')
# import numpy as np
# np.savetxt('dates_kbs.csv', data.날짜_in.values, fmt='%d')

# data.날짜_in.to_csv('date.csv')

In [ ]:
csv_file = '/home/sjham/project/scrapy/MyProject/data_set/dates_kbs.csv'
a = pd.read_csv(csv_file, header=None, index_col=None)
for i in a.values:
    int(i)

In [ ]:
data=data[:199]

In [ ]:
# data['제목'].dropna(how='any',inplace=True)

In [ ]:
# data['제목_splited'] = [','.join(str(i).split()) for i in data.제목_refined]
# data['제목_fil'] = [set(str(i).split()) for i in data.제목]

# .apply(split()))

# for n in data.제목_refined:
#     a = mecab.nouns(str(n))
    
# [len(set(a).intersection(b)) for a, b in zip(df.A, df.B)]    
    
#     pd.Series([mecab.nouns(n)])

In [ ]:
# for rd in raw_data['title_splited']:
#     str(rd)
#     for d in data['제목_splited']:
#         str(d)
#         print(similar(rd, d))

In [ ]:
filter =[]
for rd in data['제목_fil']:
    for d in raw_data['title_fil']:
        if len(d & rd) > 3:
            filter.append(d)
            
            
#             raw_data['filtered'] = d
            
        
        
#         raw_data.loc[len(d & rd) > 3, :]
#         if len(d & rd) > 3:
#             raw_data['title_splited']

In [ ]:



df1 = pd.DataFrame({'c1': [1, 4, 7], 'c2': [2, 5, 1], 'c3': [3, 1, 1]})
df2 = pd.DataFrame({'c4': [1, 4, 7], 'c2': [3, 5, 2], 'c3': [3, 7, 5]})
set(df1['c2']).intersection(set(df2['c2']))

In [ ]:
df1

In [ ]:
df2

In [ ]:
set(raw_data['title_splited'])

In [ ]:
my_list = ['w', 'y', 'u', 'i']

In [ ]:
set(map(tuple, my_list))

In [ ]:
sorted(
    
    set(map(tuple, my_list)), reverse=True)
result
result = sorted(set(map(tuple, my_list)), reverse=True)
result

In [ ]:
set(raw_data['title_splited']).intersection(set(data['제목_splited']))

In [ ]:
# w=[]
# for d in raw_data.title:
#     for dd in data.제목:
#         if d ==dd:
#             w.append(d)

In [ ]:
# df_merged = data.merge(raw_data, how='inner', left_on='제목', right_on='title')

In [ ]:
# df_merged.head()