In [1]:
import pandas as pd
import os
# import re

In [2]:
os.getcwd()

'/home/sjham/project/scrapy/MyProject/data_set'

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
# data = pd.read_excel('broadcast.xlsx') 
data = pd.read_csv('a1.csv') 
raw_data = pd.read_csv('b.csv')

In [5]:
data.tail()
raw_data.head()

      date                title
2451  4/12             투표날 '조심'
2452  4/12          새로운 국회 탄생해야
2453  4/12   MBN선정 승패 가를 20곳…서울
2454  4/12  MBN선정 승패 가를 20곳…수도권
2455  4/12      MBN선정 승패 가를 20곳

                        title              date
0      위반 차량 꼼짝 마!…‘암행 단속’ 시작  2016.03.02 02:42
1             제주 어선·부산 낚싯배 침몰  2016.03.02 02:43
2     취객 돕는 척 ‘슬쩍’…출근한다며 빈집털이  2016.03.02 02:43
3  ‘김정은 찬양가’ 재등장…北 체제 결속 ‘고삐’  2016.03.02 02:43
4    내일 새벽 ‘안보리 표결’…“만장일치 확실”  2016.03.02 02:43

In [6]:
data.shape
raw_data.shape

(2456, 2)

(12926, 2)

In [7]:
raw_data['date'] = pd.to_datetime(raw_data['date'])

In [8]:
raw_data['date'] = raw_data['date'].dt.date

In [9]:
raw_data['date']

0        2016-03-02
1        2016-03-02
2        2016-03-02
3        2016-03-02
4        2016-03-02
5        2016-03-02
6        2016-03-02
7        2016-03-02
8        2016-03-02
9        2016-03-02
10       2016-03-02
11       2016-03-02
12       2016-03-02
13       2016-03-02
14       2016-03-02
15       2016-03-02
16       2016-03-02
17       2016-03-02
18       2016-03-02
19       2016-03-02
20       2016-03-02
21       2016-03-02
22       2016-03-02
23       2016-03-02
24       2016-03-02
25       2016-03-02
26       2016-03-02
27       2016-03-02
28       2016-03-02
29       2016-03-02
            ...
12896    2016-04-12
12897    2016-04-12
12898    2016-04-12
12899    2016-04-12
12900    2016-04-12
12901    2016-04-12
12902    2016-04-12
12903    2016-04-12
12904    2016-04-12
12905    2016-04-12
12906    2016-04-12
12907    2016-04-12
12908    2016-04-12
12909    2016-04-12
12910    2016-04-12
12911    2016-04-12
12912    2016-04-12
12913    2016-04-12
12914    2016-04-12
12915    2016-04-12
12916    2016-04-12
12917    2016-04-12
12918    2016-04-12
12919    2016-04-12
12920    2016-04-12
12921    2016-04-12
12922    2016-04-12
12923    2016-04-12
12924    2016-04-12
12925    2016-04-12
Name: date, Length: 12926, dtype: object

In [10]:
data['date'] = '2016.' + data['date'].astype(str)
data['date']

0        2016.3/2
1        2016.3/2
2        2016.3/2
3        2016.3/3
4        2016.3/3
5        2016.3/3
6        2016.3/4
7        2016.3/4
8        2016.3/4
9        2016.3/5
10       2016.3/5
11       2016.3/6
12       2016.3/6
13       2016.3/7
14       2016.3/7
15       2016.3/9
16      2016.3/10
17      2016.3/10
18      2016.3/11
19      2016.3/11
20      2016.3/12
21      2016.3/12
22      2016.3/13
23      2016.3/13
24      2016.3/13
25      2016.3/13
26      2016.3/14
27      2016.3/14
28      2016.3/14
29      2016.3/14
          ...
2426    2016.4/10
2427    2016.4/10
2428    2016.4/10
2429    2016.4/11
2430    2016.4/11
2431    2016.4/11
2432    2016.4/11
2433    2016.4/11
2434    2016.4/11
2435    2016.4/11
2436    2016.4/11
2437    2016.4/11
2438    2016.4/11
2439    2016.4/11
2440    2016.4/11
2441    2016.4/12
2442    2016.4/12
2443    2016.4/12
2444    2016.4/12
2445    2016.4/12
2446    2016.4/12
2447    2016.4/12
2448    2016.4/12
2449    2016.4/12
2450    2016.4/12
2451    2016.4/12
2452    2016.4/12
2453    2016.4/12
2454    2016.4/12
2455    2016.4/12
Name: date, Length: 2456, dtype: object

In [11]:
data['date'] = data['date'].str.replace('/', '.').str.replace('-', '.')

In [12]:
data['date']= pd.to_datetime(data['date'])

In [13]:
data.head()
raw_data.head()

        date                     title
0 2016-03-02    무제한 토론' 끝…테러방지법 등 곧 처리
1 2016-03-02  "야권 통합"…국민의당 '경계'∙與 '비판'
2 2016-03-02        박지원∙동교동계 국민의당 '합류'
3 2016-03-03     선거법 지각 통과…총선 준비 '잰걸음'
4 2016-03-03  與 공천 일정 신경전…"서둘러야" "꼼꼼히"

                        title        date
0      위반 차량 꼼짝 마!…‘암행 단속’ 시작  2016-03-02
1             제주 어선·부산 낚싯배 침몰  2016-03-02
2     취객 돕는 척 ‘슬쩍’…출근한다며 빈집털이  2016-03-02
3  ‘김정은 찬양가’ 재등장…北 체제 결속 ‘고삐’  2016-03-02
4    내일 새벽 ‘안보리 표결’…“만장일치 확실”  2016-03-02

In [14]:
data['title_refined'] = data.title.str.replace(r'[/W\”\“\‘\,\’\"\'\.\∙\…\[\]\(\)]+', " ")
raw_data['title_refined']= raw_data.title.str.replace(r'[/W\”\“\‘\,\’\"\'\.\∙\…\[\]\(\)]+', " ")

In [15]:
data['title_refined'] = data['title_refined'].str.strip()
raw_data['title_refined'] = raw_data['title_refined'].str.strip()

In [16]:
data.isnull().sum()
raw_data.isnull().sum()

date              0
title            14
title_refined    14
dtype: int64

title            0
date             0
title_refined    0
dtype: int64

In [17]:
data.head()

        date                     title           title_refined
0 2016-03-02    무제한 토론' 끝…테러방지법 등 곧 처리  무제한 토론  끝 테러방지법 등 곧 처리
1 2016-03-02  "야권 통합"…국민의당 '경계'∙與 '비판'    야권 통합 국민의당  경계 與  비판
2 2016-03-02        박지원∙동교동계 국민의당 '합류'       박지원 동교동계 국민의당  합류
3 2016-03-03     선거법 지각 통과…총선 준비 '잰걸음'    선거법 지각 통과 총선 준비  잰걸음
4 2016-03-03  與 공천 일정 신경전…"서둘러야" "꼼꼼히"  與 공천 일정 신경전 서둘러야   꼼꼼히

In [18]:
data.drop('title',axis=1, inplace=True)

In [19]:
data.isnull().sum()

date              0
title_refined    14
dtype: int64

In [20]:
data = data.dropna(subset=['title_refined'],axis=0, how='any')

In [21]:
data.isnull().sum()

date             0
title_refined    0
dtype: int64

In [22]:
# def ngrams(string, n=3):
# #     string = re.sub(r'[,-./]|\sBD',r'', string)
#     ngrams = zip(*[string[i:] for i in range(n)])
#     return [''.join(ngram) for ngram in ngrams]

In [23]:
from konlpy.tag import Mecab
mecab = Mecab()
def tagging(x):
    return mecab.nouns(x)
#     return x+'1'

In [24]:
data['title_tagged'] = data['title_refined'].apply(tagging)

In [25]:
data['title_set']= [set(item) for item in data['title_tagged']]

In [26]:
raw_data.drop('title', axis=1, inplace=True)

In [27]:
raw_data['title_tagged'] = raw_data['title_refined'].apply(tagging)

In [28]:
raw_data['title_set']= [set(item) for item in raw_data['title_tagged']]

In [29]:
raw_data['title_set']

0                            {위반, 단속, 차량, 시작, 암행}
1                           {침몰, 낚싯배, 부산, 제주, 어선}
2                               {취객, 척, 집, 출근, 털}
3                    {찬양, 체제, 北, 결속, 고삐, 등장, 김정은}
4                             {표결, 안보리, 만장일치, 새벽}
5                        {비판, 국회, 합의, 日, 위안부, 실천}
6                                  {포기, 북한, 것, 핵}
7                                    {뉴스라인, 헤드라인}
8                     {조사, 량, 남극, 크릴, 선, 원양어, 자원}
9              {본격, 공급, 천, 가구, 만, 올해, 주택, 행복, 모집}
10                    {금정구, 식당, 화재, 만, 원, 부산, 피해}
11               {수사, 페이스북, 비협조, 임원, 체포, 브라질, 경찰}
12                   {장, 추방, 미국, 축구, 협회, 전, 과테말라}
13                           {대, 대부도, 안산, 여성, 주택}
14                   {억, 알라, 사재, 원, 빈라덴, 유언, 지하드}
15                 {칼레, 이틀, 프랑스, 난민, 난민촌, 철거, 저항}
16            {총장, 반, 대북, 등, 결의안, 대사, 외무부, 미, 논의}
17                             {트럼프, 취약, 본선, 경쟁력}
18                            {기온, 안팎, 도, 낮, 남서풍}
19                   {강원, 노인, 소동, 명, 요양원, 영월, 대피}
20           {인자, 경고, 단체, 공개, 공화, 美, 거부, 편견, 트럼프}
21            {산, 동결, 상승, 국제, 기대, 가격, 유가, 회복, 유량}
22       {해외, 요구, 급유, 北, 결의안, 수정, 허용, 안보리, 기, 민항}
23                {시범, 타수, 김현수, 무안타, 메이저, 리그, 경기}
24              {시범, 김현수, 박병호, 야수, 위, 주목, 신인, 경기}
25                        {보복, 입건, 쌍방, 명, 혐의, 운전}
26            {대통령, 상관, 합헌, 군형법, 규정, 비하, 모욕죄, 헌재}
27              {계속, 신청, 법원, 거부, 트럼프, 소송, 기각, 사기}
28                        {힐러리, 클린턴, 실망, 트럼프, 논란}
29                      {무승부, 이청용, 결장, 선덜랜드, 팰리스}
                           ...
12896                         {저지, 누리, 민주, 표, 독주}
12897                    {심판, 수도, 총력, 누리, 공략, 야당}
12898                   {발표, 예상, 출구조사, 시, 당선, 오후}
12899                       {총망라, 개표, 기술, 방송, 첨단}
12900                    {손동작, 투표용지, 인증, 샷, 주, 점}
12901                      {투, 개표, 선택, 날, 완료, 준비}
12902                       {총망라, 개표, 기술, 방송, 첨단}
12903                {선거, 민생, 국회, 개입, 탄생, 매진, 경제}
12904      {배격, 북한, 대화, 해법, 국제, 평등, 핵, 사회, 북, 논의}
12905          {조, 기업, 미국, 중국, 규모, 천억, 원, 개, 지난해}
12906         {시간, 대장정, 판세, 총선, 뉴스, 이슈, 이모저모, 막판}
12907                             {신생아, 대한민국, 노령}
12908         {예고, 전단지, 현수막, 치열, 변호사, 경쟁, 등장, 생존}
12909                    {촬영, 금, 훼손, 자연, 전시회, 강송}
12910           {소변, 예고, 리포트, 검사, 심층, 퇴사, 혈액, 압력}
12911                    {리포트, 신생아, 앵커, 대한민국, 노령}
12912                     {도발, 교란, 北, 안보리, 등, 서한}
12913                                 {황사, 전국, 듯}
12914               {위협, 전대미문, 北, 조치, 특단, 납치, 징벌}
12915                     {공개, 북풍, 정치, 논란, 공방, 북}
12916                {인기, 후예, 전기, 급상승, 효과, 앱, 태양}
12917                        {수도, 총력, 집중, 총선, 야권}
12918                           {미세먼지, 농, 오전, 황사}
12919                            {오늘, 배트, 소사, 영상}
12920                 {축구단, 축구, 스포츠, 꿈, 나, 라이베리아}
12921        {공격, 폭탄, 간부, 사망, 차량, 레바논, 팔레스타인, 남부}
12922       {조, 내년, 日, 천, 푼, 마이너스, 원, 성장, 전망, 경제}
12923                         {내년, 성장, 올해, 전망, 韓}
12924                        {대, 조립식, 노인, 화재, 주택}
12925               {발사, 이동식, 탄도, 조짐, 미사일, 북, 준비}
Name: title_set, Length: 12926, dtype: object

In [30]:
data['title_set']

0        {토론, 처리, 방지법, 등, 무제한, 테러, 끝}
1          {비판, 당, 국민, 與, 야권, 통합, 경계}
2               {합류, 당, 박지원, 국민, 동교동}
3          {총선, 선거법, 잰걸음, 지각, 통과, 준비}
4                    {신경전, 與, 공천, 일정}
5                {정면충돌, 金, 야권, 통합, 安}
6           {김태환, 신호탄, 친, 탈락, 박, 물갈이}
7             {의총, 당, 기로, 국민, 야권, 통합}
8                      {이해관계, 통합, 찬반}
9         {일, 총선, 다야, 거부, 야권, 통합, 구도}
10      {신호탄, 당, 긴장, 현역, 여, 분위기, 물갈이}
11             {최경환, 김무성, 면접, 여진, 반발}
12           {확인, 노선, 독자, 상실, 安, 자제력}
13         {김무성, 신경전, 이한구, 심사, 차, 통과}
14        {충돌, 후폭풍, 정면, 金, 야권, 통합, 安}
15         {윤상현, 발표, 막말, 파문, 내일, 컷오프}
16            {위기, 공천, 계파, 갈등, 與, 파행}
17             {청산, 정청래, 명, 부족, 노, 등}
18             {발표, 공천, 차, 갈등, 與, 봉합}
19            {김한길, 탈락, 전병헌, 사퇴, 오영식}
20      {발표, 의원, 명, 공천, 탈락, 차, 현역, 여}
21                   {반발, 탈당, 공천, 생각}
22              {선거, 공약, 유권자, 혼란, 후보}
23      {조짐, 조작, 급증, 배, 흑색선전, 여론, 혼탁}
24      {김무성, 파전, 우세, 지역구, 與, 현역, 경선}
25           {이해찬, 용퇴, 연대, 安, 민주, 논의}
26           {명, 유승민, 결론, 내일, 대구, 현역}
27      {이해찬, 좌장, 친, 명, 배제, 현역, 노, 등}
28      {담판, 공천, 지도부, 내일, 전원, 야권, 연대}
29             {개혁, 공천, 말, 지지부진, 물갈이}
                    ...
2426         {전략, 의석수, 결집, 엄살, 여야, 세}
2427             {서울, 판세, 접전, 안갯속, 초}
2428                  {박빙, 속, 우열, 판세}
2429                 {부산, 시간, 제주, 운명}
2430                       {앞, 야, 수도}
2431                        {호남, 문재인}
2432                       {수, 누리, 곳}
2433                          {국민, 곳}
2434                    {여론, 조사, 격전지}
2435                      {당, 핵심, 공약}
2436                             {후보}
2437                             {누가}
2438                        {비방, 몸싸움}
2439                          {대, 투표}
2440                   {숫자, 명, 총선, 억}
2441            {김무성, 수도, 대표, 지원, 올인}
2442                             {대구}
2443                    {야당, 마지막, 유세}
2444                    {승부처, 최다, 지역}
2445                         {안갯속, 끝}
2446                        {대구, 안갯속}
2447                 {차, 문재인, 방문, 광주}
2448            {북한, 날씨, 투표율, 변수, 막판}
2449                {포인트, 관전, 누리, 총선}
2450                {포인트, 관전, 총선, 야권}
2451                      {날, 조심, 투표}
2452                         {국회, 탄생}
2453                  {승패, 선정, 서울, 곳}
2454                  {승패, 선정, 수도, 곳}
2455                      {승패, 선정, 곳}
Name: title_set, Length: 2442, dtype: object

In [33]:
data.head()

,date,title_refined,title_tagged,title_set
0,2016-03-02,무제한 토론 끝 테러방지법 등 곧 처리,"[무제한, 토론, 끝, 테러, 방지법, 등, 처리]","{토론, 처리, 방지법, 등, 무제한, 테러, 끝}"
1,2016-03-02,야권 통합 국민의당 경계 與 비판,"[야권, 통합, 국민, 당, 경계, 與, 비판]","{비판, 당, 국민, 與, 야권, 통합, 경계}"
2,2016-03-02,박지원 동교동계 국민의당 합류,"[박지원, 동교동, 국민, 당, 합류]","{합류, 당, 박지원, 국민, 동교동}"
3,2016-03-03,선거법 지각 통과 총선 준비 잰걸음,"[선거법, 지각, 통과, 총선, 준비, 잰걸음]","{총선, 선거법, 잰걸음, 지각, 통과, 준비}"
4,2016-03-03,與 공천 일정 신경전 서둘러야 꼼꼼히,"[與, 공천, 일정, 신경전]","{신경전, 與, 공천, 일정}"

In [31]:
data.title_tagged

0        [무제한, 토론, 끝, 테러, 방지법, 등, 처리]
1          [야권, 통합, 국민, 당, 경계, 與, 비판]
2               [박지원, 동교동, 국민, 당, 합류]
3          [선거법, 지각, 통과, 총선, 준비, 잰걸음]
4                    [與, 공천, 일정, 신경전]
5                [야권, 통합, 金, 安, 정면충돌]
6           [친, 박, 김태환, 탈락, 물갈이, 신호탄]
7             [야권, 통합, 의총, 국민, 당, 기로]
8                      [이해관계, 통합, 찬반]
9         [야권, 통합, 거부, 총선, 구도, 일, 다야]
10      [여, 현역, 물갈이, 신호탄, 당, 분위기, 긴장]
11             [김무성, 최경환, 면접, 반발, 여진]
12           [安, 독자, 노선, 확인, 자제력, 상실]
13         [김무성, 이한구, 신경전, 차, 심사, 통과]
14        [安, 金, 정면, 충돌, 야권, 통합, 후폭풍]
15         [윤상현, 막말, 파문, 컷오프, 내일, 발표]
16            [계파, 갈등, 與, 공천, 파행, 위기]
17             [정청래, 등, 명, 노, 청산, 부족]
18             [與, 갈등, 봉합, 차, 공천, 발표]
19            [전병헌, 오영식, 탈락, 김한길, 사퇴]
20      [여, 차, 공천, 발표, 현역, 의원, 명, 탈락]
21                   [탈당, 생각, 공천, 반발]
22              [후보, 공약, 선거, 유권자, 혼란]
23      [흑색선전, 여론, 조작, 배, 급증, 혼탁, 조짐]
24      [김무성, 지역구, 파전, 與, 경선, 현역, 우세]
25           [민주, 이해찬, 용퇴, 논의, 安, 연대]
26           [대구, 현역, 명, 유승민, 내일, 결론]
27      [친, 노, 좌장, 이해찬, 등, 현역, 명, 배제]
28      [지도부, 전원, 공천, 야권, 연대, 내일, 담판]
29             [말, 공천, 개혁, 물갈이, 지지부진]
                    ...
2426         [여야, 의석수, 엄살, 세, 결집, 전략]
2427             [판세, 서울, 안갯속, 초, 접전]
2428                  [판세, 박빙, 속, 우열]
2429                 [운명, 시간, 부산, 제주]
2430                       [야, 수도, 앞]
2431                        [호남, 문재인]
2432                       [누리, 수, 곳]
2433                          [국민, 곳]
2434                    [여론, 조사, 격전지]
2435                      [당, 핵심, 공약]
2436                             [후보]
2437                             [누가]
2438                        [비방, 몸싸움]
2439                          [대, 투표]
2440                   [명, 억, 숫자, 총선]
2441            [김무성, 대표, 수도, 지원, 올인]
2442                             [대구]
2443                    [야당, 마지막, 유세]
2444                    [최다, 지역, 승부처]
2445                         [끝, 안갯속]
2446                        [안갯속, 대구]
2447                 [문재인, 차, 광주, 방문]
2448            [막판, 변수, 투표율, 북한, 날씨]
2449                [누리, 총선, 관전, 포인트]
2450                [야권, 총선, 관전, 포인트]
2451                      [투표, 날, 조심]
2452                         [국회, 탄생]
2453                  [선정, 승패, 곳, 서울]
2454                  [선정, 승패, 곳, 수도]
2455                      [선정, 승패, 곳]
Name: title_tagged, Length: 2442, dtype: object

In [32]:
raw_data.title_tagged

0                            [위반, 차량, 암행, 단속, 시작]
1                           [제주, 어선, 부산, 낚싯배, 침몰]
2                               [취객, 척, 출근, 집, 털]
3                    [김정은, 찬양, 등장, 北, 체제, 결속, 고삐]
4                             [새벽, 안보리, 표결, 만장일치]
5                        [日, 위안부, 합의, 실천, 국회, 비판]
6                                  [북한, 핵, 포기, 것]
7                                    [뉴스라인, 헤드라인]
8                     [원양어, 선, 남극, 크릴, 자원, 량, 조사]
9              [행복, 주택, 공급, 본격, 올해, 만, 천, 가구, 모집]
10                    [부산, 금정구, 식당, 화재, 만, 원, 피해]
11               [브라질, 경찰, 수사, 비협조, 페이스북, 임원, 체포]
12                   [과테말라, 전, 축구, 협회, 장, 미국, 추방]
13                           [안산, 대부도, 주택, 대, 여성]
14                   [빈라덴, 유언, 사재, 억, 원, 지하드, 알라]
15                 [프랑스, 칼레, 난민촌, 이틀, 철거, 난민, 저항]
16            [외무부, 반, 총장, 미, 대사, 등, 대북, 결의안, 논의]
17                             [트럼프, 본선, 경쟁력, 취약]
18                            [남서풍, 낮, 기온, 도, 안팎]
19                   [강원, 영월, 노인, 요양원, 명, 대피, 소동]
20           [美, 공화, 인자, 편견, 단체, 거부, 트럼프, 공개, 경고]
21            [국제, 유가, 가격, 회복, 산, 유량, 동결, 기대, 상승]
22       [요구, 안보리, 결의안, 수정, 北, 민항, 기, 해외, 급유, 허용]
23                [김현수, 메이저, 리그, 시범, 경기, 타수, 무안타]
24           [시범, 경기, 주목, 신인, 야수, 김현수, 위, 박병호, 위]
25                        [쌍방, 보복, 운전, 혐의, 명, 입건]
26            [헌재, 대통령, 비하, 상관, 모욕죄, 규정, 군형법, 합헌]
27         [법원, 트럼프, 사기, 소송, 계속, 트럼프, 기각, 신청, 거부]
28                        [힐러리, 클린턴, 논란, 트럼프, 실망]
29                      [이청용, 결장, 팰리스, 선덜랜드, 무승부]
                           ...
12896                         [민주, 누리, 독주, 저지, 표]
12897                    [누리, 야당, 심판, 수도, 공략, 총력]
12898                   [오후, 시, 출구조사, 당선, 예상, 발표]
12899                   [개표, 방송, 첨단, 방송, 기술, 총망라]
12900                    [투표용지, 손동작, 인증, 샷, 주, 점]
12901                      [선택, 날, 투, 개표, 준비, 완료]
12902                   [개표, 방송, 첨단, 방송, 기술, 총망라]
12903                [민생, 경제, 매진, 국회, 탄생, 선거, 개입]
12904      [북한, 국제, 사회, 북, 핵, 해법, 논의, 평등, 대화, 배격]
12905          [중국, 지난해, 미국, 기업, 개, 조, 천억, 원, 규모]
12906         [이슈, 뉴스, 시간, 대장정, 이모저모, 총선, 막판, 판세]
12907                             [신생아, 노령, 대한민국]
12908         [전단지, 현수막, 변호사, 등장, 예고, 생존, 경쟁, 치열]
12909                [금, 강송, 훼손, 전시회, 자연, 훼손, 촬영]
12910           [심층, 리포트, 예고, 혈액, 소변, 검사, 퇴사, 압력]
12911                    [앵커, 리포트, 신생아, 노령, 대한민국]
12912                     [北, 교란, 도발, 안보리, 등, 서한]
12913                                 [전국, 황사, 듯]
12914               [北, 전대미문, 납치, 특단, 징벌, 조치, 위협]
12915                     [북, 공개, 정치, 북풍, 논란, 공방]
12916                [태양, 후예, 효과, 전기, 앱, 인기, 급상승]
12917                        [총선, 야권, 수도, 집중, 총력]
12918                           [오전, 황사, 미세먼지, 농]
12919                            [오늘, 영상, 소사, 배트]
12920                 [나, 스포츠, 축구, 꿈, 라이베리아, 축구단]
12921        [레바논, 남부, 차량, 폭탄, 공격, 팔레스타인, 간부, 사망]
12922       [천, 조, 원, 푼, 日, 경제, 내년, 마이너스, 성장, 전망]
12923                         [韓, 올해, 성장, 전망, 내년]
12924                        [조립식, 주택, 화재, 대, 노인]
12925               [북, 이동식, 탄도, 미사일, 발사, 준비, 조짐]
Name: title_tagged, Length: 12926, dtype: object

In [ ]:
for d in data1['title_tagged']:
    for r in raw_data1['title_tagged']:
        set(d).intersection(set(r))
        
# for u in t:
#     if len(u) > 1:
#         raw_data1['filtered']= u
        
    
        
#         a = set(d).intersection(set(r))
        
                            
#         if len(set(d).intersection(set(r)))> 1:
#             raw_data1['filtered']=

In [ ]:
raw_data['title_tagged'].apply(inter)

In [ ]:
for d in data1['title_tagged']:
    for r in raw_data1['title_tagged']:
        if len(set(d).intersection(set(r)))> 1:
            raw_data1['filtered'] = r
            
    
#         raw_data['filtered'] = set(data).intersection(set(data1))

#         #             raw_data['filtered'] = data
        
        
        
        
#         if len(data.intersection(data1)) > 3:
#             raw_data['filtered'] = data
            
#             .intersection(data1)
        
#         if len() > 3:
#             raw_data['filtered'] = data

In [ ]:
raw_data1.head()

In [ ]:
a = set(['위반', '차량', '암행', '단속', '시작'])
b = set(['무제한', '위반', '토론', '끝', '테러', '방지법', '등', '처리'])
matched = a.intersection(b)
print(matched)

In [ ]:
data.head()

In [ ]:
raw_data.head()

In [ ]:
data['제목_splited'] = [set(str(i).split()) for i in data.제목_refined]
raw_data['title_splited'] = [set(str(i).split()) for i in raw_data.title_refined]

In [ ]:
matched = set1.intersection(set2)

import numpy as np
import pandas as pd

a = [['10', '1.2', '4.2'], ['15', '70', '0.03'], ['8', '5', '0']]
df = pd.DataFrame(a, columns=['one', 'two', 'three'])

df['compare'] = np.where((data['date'] == raw_data['date']) & (data['date'] <= df['three'])
                     , df['one'], np.nan)

In [ ]:
from difflib import SequenceMatcher
SequenceMatcher(None, raw_data.title_tagged, data.title_tagged)

In [ ]:
from difflib import SequenceMatcher
def similar(a, b):
    t=[]
    threshold = 0.4
    if SequenceMatcher(None, a, b).ratio() > threshold:
        t.append(a)
    print(t)
    return t
        
#     print(s)
#     return s

In [ ]:
for rd in raw_data.title_tagged:
    for d in data.title_tagged:
        similar(rd, d)

In [ ]:
c =[['무제한', '토론', '끝', '테러', '방지법', '등', '처리'],
 ['야권', '통합', '국민', '당', '경계', '與', '비판'],
 ['박지원', '동교동', '국민', '당', '합류'],
 ['선거법', '지각', '통과', '총선', '준비', '잰걸음'],
 ['與', '공천', '일정', '신경전'],
 ['야권', '통합', '金', '安', '정면충돌'],
 ['친', '박', '김태환', '탈락', '물갈이', '신호탄'],
 ['야권', '통합', '의총', '국민', '당', '기로'],
 ['이해관계', '통합', '찬반'],
 ['야권', '통합', '거부', '총선', '구도', '일', '다야']]

In [ ]:
o =[['무제한', '토론', '끝', '테러', '방지법', '등', '처리'],
 ['야권', '당', '경계', '與', '비판'],
 ['박지원', '동교동', '국민', '당']]
# q = pd.Series(o)

In [ ]:
data['제목_mecab'] = pd.Series(y)

In [ ]:
for n in data.제목_refined:


data['data_mecab'] = [mecab.nouns(n) for n in data.제목_refined]

In [ ]:
data['data_mecab_split'] = data['data_mecab'].str.split()

In [ ]:
# data['제목_splited'] = [set(str(i).split()) for i in data.제목_refined]
# raw_data['title_splited'] = [set(str(i).split()) for i in raw_data.title_refined]

data['제목_splited'] = [str(i).split() for i in data.제목_refined]
raw_data['title_splited'] = [str(i).split() for i in raw_data.title_refined]

In [ ]:
data_100 = data['제목_splited'][:100] 
raw_data_100 = raw_data['title_splited'][:100]

In [ ]:
a = [['시간', '유세', '돌입', '군소정당', '총력전'], ['총선', '이틀', '앞', '5대', '관전', '포인트는?'], 
     ['반드시', '투표', '비', '예보', '변수'], ['與', '과반', '확보', '절실', '투표로', '야당', '심판','컷오프', '내일 발표'],
     ['윤상현 막말', '파문…','컷오프', '내일 발표']]


# raw_data['title_splited'] = [','.join(str(i).split()) for i in raw_data.title_refined]
# raw_data['title_fil'] = [set(str(i).split()) for i in raw_data.title]

# [더민주, 여당, 독주, 저지, 수권, 야당, 지지], [국민의당, 미래, 위한, 싸움, 3번, 선택], 
#      [우리가, 대안, 정당, 존재감, 부각, 총력], [내일, 선택의, 날, 투, 개표, 준비, 완료],
#  [투표용지, 손동작, 안, 돼, 인증샷, 주의점], [오후, 6시, 출구조사, 당선, 예상자, 발표]]
b = [['시간', '유세', '돌입', '군소정당', '총력전'],['與', '과반', '확보', '절실'], ['심판','컷오프', '내일 발표'],
     ['yyyyyyyy','ttttt','wswwewe'],['dwddwdfwfw','gfhfghhth','hytyyhtyhytyh']]

    
    
#     [더민주, 여당, 독주, 저지, 수권, 야당, 지지], [국민의당, 미래, 위한, 싸움, 3번, 선택], 
#      [우리가, 대안, 정당, 존재감, 부각, 총력],

In [ ]:
data['날짜_in'] = data['날짜'].astype('str').str.replace('-', '')
# df.to_csv(r'c:\data\pandas.txt', header=None, index=None, sep=' ', mode='a')
# with open('dates_kbs.txt', 'w') as f:
#     f.write(data['날짜_in'].astype(int).values)

# data['날짜_in'].astype(int).values

In [ ]:
# import numpy as np
# nparray = data['날짜_in'].values
# np.savetxt('dates_kbs.txt', nparray, delimiter=",")
# nparray

In [ ]:
data.날짜_in.to_csv('dates_kbs.csv', header=None, index=None, sep=',')
# import numpy as np
# np.savetxt('dates_kbs.csv', data.날짜_in.values, fmt='%d')

# data.날짜_in.to_csv('date.csv')

In [ ]:
csv_file = '/home/sjham/project/scrapy/MyProject/data_set/dates_kbs.csv'
a = pd.read_csv(csv_file, header=None, index_col=None)
for i in a.values:
    int(i)

In [ ]:
data=data[:199]

In [ ]:
# data['제목'].dropna(how='any',inplace=True)

In [ ]:
# data['제목_splited'] = [','.join(str(i).split()) for i in data.제목_refined]
# data['제목_fil'] = [set(str(i).split()) for i in data.제목]

# .apply(split()))

# for n in data.제목_refined:
#     a = mecab.nouns(str(n))
    
# [len(set(a).intersection(b)) for a, b in zip(df.A, df.B)]    
    
#     pd.Series([mecab.nouns(n)])

In [ ]:
# for rd in raw_data['title_splited']:
#     str(rd)
#     for d in data['제목_splited']:
#         str(d)
#         print(similar(rd, d))

In [ ]:
filter =[]
for rd in data['제목_fil']:
    for d in raw_data['title_fil']:
        if len(d & rd) > 3:
            filter.append(d)
            
            
#             raw_data['filtered'] = d
            
        
        
#         raw_data.loc[len(d & rd) > 3, :]
#         if len(d & rd) > 3:
#             raw_data['title_splited']

In [ ]:



df1 = pd.DataFrame({'c1': [1, 4, 7], 'c2': [2, 5, 1], 'c3': [3, 1, 1]})
df2 = pd.DataFrame({'c4': [1, 4, 7], 'c2': [3, 5, 2], 'c3': [3, 7, 5]})
set(df1['c2']).intersection(set(df2['c2']))

In [ ]:
df1

In [ ]:
df2

In [ ]:
set(raw_data['title_splited'])

In [ ]:
my_list = ['w', 'y', 'u', 'i']

In [ ]:
set(map(tuple, my_list))

In [ ]:
sorted(
    
    set(map(tuple, my_list)), reverse=True)
result
result = sorted(set(map(tuple, my_list)), reverse=True)
result

In [ ]:
set(raw_data['title_splited']).intersection(set(data['제목_splited']))

In [ ]:
# w=[]
# for d in raw_data.title:
#     for dd in data.제목:
#         if d ==dd:
#             w.append(d)

In [ ]:
# df_merged = data.merge(raw_data, how='inner', left_on='제목', right_on='title')

In [ ]:
# df_merged.head()